.bottom{
    bottom: 0;
    position: fixed;
    /* background-color: blue; */
    width: 100%;
    height: 70px;
    display: flex;
    /* padding-bottom: 50px; */

}
.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5px; */
    /* margin-bottom: 2px; */
}
li{
    justify-content: center;
    align-items: center;
    justify-content: center;
}
li svg{
    margin: auto;
    color: #fff;
}
li span{
    margin: auto;
    color: aliceblue;
    font-size: x-small;
}

/* @media (max-width: 1200px){
    .bottom{
      display: block;
    }
    
  }
@media (max-width: 20000px){
    .bottom{
      display: none;
    }
    
  } */